In [1]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [2]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (220, 30, 590, 570), pages = '69')
df = data[0]
df = df[1:]
df

   JUMLAH PUSKESMAS YANG MELAKSANAKAN KEGIATAN KESEHATAN OLAHRAGA
1                                    Jawa Barat 1.003
2                                      Jawa Timur 960
3                                     Jawa Tengah 872
4                                     DKI Jakarta 340
5                                Sumatera Selatan 312
6                                  Sumatera Utara 306
7                                            Aceh 286
8                               Sulawesi Tenggara 259
9                                  Sumatera Barat 256
10                             Kalimantan Selatan 221
11                                        Lampung 221
12                               Sulawesi Selatan 214
13                                Sulawesi Tengah 189
14                                 Sulawesi Utara 188
15                               Kalimantan Timur 167
16                                          Jambi 161
17                              Kalimantan Tengah 159
18                                           Riau 154
19                                       Bengkulu 149
20                                         Banten 121
21                                  DI Yogyakarta 121
22                                          Papua 120
23                                           Bali 120
24                            Nusa Tenggara Barat 114
25                                       Gorontalo 93
26                                          Maluku 89
27                                  Kepulauan Riau 69
28                                  Sulawesi Barat 68
29                       Kepulauan Bangka Belitung 62
30                                     Papua Barat 60
31                                Kalimantan Barat 50
32                                Kalimantan Utara 44
33                             Nusa Tenggara Timur 33
34                                    Maluku Utara 16

In [3]:
concat = df.copy()
split = concat.iloc[:,0].str.split(' ')
# isna = concat[1].isna()
concat.loc[:, 1] = split.str[-1]
concat.iloc[:, 0] = split.str[:-1].str.join(' ') 
# concat.columns = np.arange(2)
concat

   JUMLAH PUSKESMAS YANG MELAKSANAKAN KEGIATAN KESEHATAN OLAHRAGA      1
1                                          Jawa Barat              1.003
2                                          Jawa Timur                960
3                                         Jawa Tengah                872
4                                         DKI Jakarta                340
5                                    Sumatera Selatan                312
6                                      Sumatera Utara                306
7                                                Aceh                286
8                                   Sulawesi Tenggara                259
9                                      Sumatera Barat                256
10                                 Kalimantan Selatan                221
11                                            Lampung                221
12                                   Sulawesi Selatan                214
13                                    Sulawesi Tengah                189
14                                     Sulawesi Utara                188
15                                   Kalimantan Timur                167
16                                              Jambi                161
17                                  Kalimantan Tengah                159
18                                               Riau                154
19                                           Bengkulu                149
20                                             Banten                121
21                                      DI Yogyakarta                121
22                                              Papua                120
23                                               Bali                120
24                                Nusa Tenggara Barat                114
25                                          Gorontalo                 93
26                                             Maluku                 89
27                                     Kepulauan Riau                 69
28                                     Sulawesi Barat                 68
29                          Kepulauan Bangka Belitung                 62
30                                        Papua Barat                 60
31                                   Kalimantan Barat                 50
32                                   Kalimantan Utara                 44
33                                Nusa Tenggara Timur                 33
34                                       Maluku Utara                 16

In [4]:
final = concat.copy()
final[1] = final[1].str.replace('.', '', regex=False).astype(np.int_)
final.columns = ['provinsi', 'jumlah']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                           jumlah
provinsi
Jawa Barat                   1003
Jawa Timur                    960
Jawa Tengah                   872
DKI Jakarta                   340
Sumatera Selatan              312
Sumatera Utara                306
Aceh                          286
Sulawesi Tenggara             259
Sumatera Barat                256
Kalimantan Selatan            221
Lampung                       221
Sulawesi Selatan              214
Sulawesi Tengah               189
Sulawesi Utara                188
Kalimantan Timur              167
Jambi                         161
Kalimantan Tengah             159
Riau                          154
Bengkulu                      149
Banten                        121
DI Yogyakarta                 121
Papua                         120
Bali                          120
Nusa Tenggara Barat           114
Gorontalo                      93
Maluku                         89
Kepulauan Riau                 69
Sulawesi Barat                 68
Kepulauan Bangka Belitung      62
Papua Barat                    60
Kalimantan Barat               50
Kalimantan Utara               44
Nusa Tenggara Timur            33
Maluku Utara                   16

In [5]:
final.to_csv('output/2017_jumlah_puskesmas_kesehatan_kerja_olah_raga_sd.csv')