In [36]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [37]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (0, 30, 530, 570), pages = '93')
df = data[0]
# df = df.iloc[1:,[0,2]]
data_list = df.columns[0].split('\r')[:-1]
# data_list = [x.replace(',','.') for x in data_list]
data_list
# df

['Sulawesi Utara95,58',
 'Papua Barat85,71',
 'Sumatera Selatan85,07',
 'DI Yogyakarta77,33',
 'Jawa Timur74,62',
 'Kep. Bangka Belitung69,85',
 'Lampung68,15',
 'Jawa Tengah66,26',
 'Gorontalo66,05',
 'Bali64,15',
 'Papua63,57',
 'Jawa Barat57,74',
 'Sulawesi Barat57,27',
 'Sulawesi Selatan56,91',
 'Nusa Tenggara Timur55,45',
 'Kepulauan Riau51,32',
 'Nusa Tenggara Barat51,11',
 'Sumatera Utara50,85',
 'Riau49,67',
 'Kalimantan Timur48,36',
 'Jambi47,38',
 'Kalimantan Utara46,43',
 'Sulawesi Tenggara44,38',
 'Maluku Utara44,01',
 'Sumatera Barat41,18',
 'Sulawesi Tengah34,97',
 'Maluku33,01',
 'Banten31,79',
 'Bengkulu31,15',
 'DKI Jakarta26,64',
 'Kalimantan Selatan22,71',
 'Kalimantan Barat22,22',
 'Aceh22,02',
 'Kalimantan Tengah17,70']

In [38]:
num_part = [(''.join(x for x in data_item if x.isnumeric() or x == ',')) for data_item in data_list]
num_part

['95,58',
 '85,71',
 '85,07',
 '77,33',
 '74,62',
 '69,85',
 '68,15',
 '66,26',
 '66,05',
 '64,15',
 '63,57',
 '57,74',
 '57,27',
 '56,91',
 '55,45',
 '51,32',
 '51,11',
 '50,85',
 '49,67',
 '48,36',
 '47,38',
 '46,43',
 '44,38',
 '44,01',
 '41,18',
 '34,97',
 '33,01',
 '31,79',
 '31,15',
 '26,64',
 '22,71',
 '22,22',
 '22,02',
 '17,70']

In [39]:
pairs = tuple((x.replace(str(y), ''), float(y.replace(',','.'))) for x, y in zip(data_list, num_part))
pairs

(('Sulawesi Utara', 95.58),
 ('Papua Barat', 85.71),
 ('Sumatera Selatan', 85.07),
 ('DI Yogyakarta', 77.33),
 ('Jawa Timur', 74.62),
 ('Kep. Bangka Belitung', 69.85),
 ('Lampung', 68.15),
 ('Jawa Tengah', 66.26),
 ('Gorontalo', 66.05),
 ('Bali', 64.15),
 ('Papua', 63.57),
 ('Jawa Barat', 57.74),
 ('Sulawesi Barat', 57.27),
 ('Sulawesi Selatan', 56.91),
 ('Nusa Tenggara Timur', 55.45),
 ('Kepulauan Riau', 51.32),
 ('Nusa Tenggara Barat', 51.11),
 ('Sumatera Utara', 50.85),
 ('Riau', 49.67),
 ('Kalimantan Timur', 48.36),
 ('Jambi', 47.38),
 ('Kalimantan Utara', 46.43),
 ('Sulawesi Tenggara', 44.38),
 ('Maluku Utara', 44.01),
 ('Sumatera Barat', 41.18),
 ('Sulawesi Tengah', 34.97),
 ('Maluku', 33.01),
 ('Banten', 31.79),
 ('Bengkulu', 31.15),
 ('DKI Jakarta', 26.64),
 ('Kalimantan Selatan', 22.71),
 ('Kalimantan Barat', 22.22),
 ('Aceh', 22.02),
 ('Kalimantan Tengah', 17.7))

In [40]:
df = pd.DataFrame(pairs)
df

                       0      1
0         Sulawesi Utara  95.58
1            Papua Barat  85.71
2       Sumatera Selatan  85.07
3          DI Yogyakarta  77.33
4             Jawa Timur  74.62
5   Kep. Bangka Belitung  69.85
6                Lampung  68.15
7            Jawa Tengah  66.26
8              Gorontalo  66.05
9                   Bali  64.15
10                 Papua  63.57
11            Jawa Barat  57.74
12        Sulawesi Barat  57.27
13      Sulawesi Selatan  56.91
14   Nusa Tenggara Timur  55.45
15        Kepulauan Riau  51.32
16   Nusa Tenggara Barat  51.11
17        Sumatera Utara  50.85
18                  Riau  49.67
19      Kalimantan Timur  48.36
20                 Jambi  47.38
21      Kalimantan Utara  46.43
22     Sulawesi Tenggara  44.38
23          Maluku Utara  44.01
24        Sumatera Barat  41.18
25       Sulawesi Tengah  34.97
26                Maluku  33.01
27                Banten  31.79
28              Bengkulu  31.15
29           DKI Jakarta  26.64
30    Kalimantan Selatan  22.71
31      Kalimantan Barat  22.22
32                  Aceh  22.02
33     Kalimantan Tengah  17.70

In [41]:
final = df.copy()
# final[1] = final[1].astype(np.double)
# final[1] = final[1].astype(np.int_)
final.columns = ['provinsi', 'persentase']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                      persentase
provinsi
Sulawesi Utara             95.58
Papua Barat                85.71
Sumatera Selatan           85.07
DI Yogyakarta              77.33
Jawa Timur                 74.62
Kep. Bangka Belitung       69.85
Lampung                    68.15
Jawa Tengah                66.26
Gorontalo                  66.05
Bali                       64.15
Papua                      63.57
Jawa Barat                 57.74
Sulawesi Barat             57.27
Sulawesi Selatan           56.91
Nusa Tenggara Timur        55.45
Kepulauan Riau             51.32
Nusa Tenggara Barat        51.11
Sumatera Utara             50.85
Riau                       49.67
Kalimantan Timur           48.36
Jambi                      47.38
Kalimantan Utara           46.43
Sulawesi Tenggara          44.38
Maluku Utara               44.01
Sumatera Barat             41.18
Sulawesi Tengah            34.97
Maluku                     33.01
Banten                     31.79
Bengkulu                   31.15
DKI Jakarta                26.64
Kalimantan Selatan         22.71
Kalimantan Barat           22.22
Aceh                       22.02
Kalimantan Tengah          17.70

In [42]:
final.to_csv('output/2017_persentase_posyandu_aktif.csv')