In [1]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [2]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (360, 30, 710, 570), pages = '68')
df = data[0]
df = df[1:]
df

   JUMLAH PUSKESMAS YANG MELAKSANAKAN KEGIATAN KESEHATAN OLAHRAGA
1                                      Jawa Timur 578
2                                      Jawa Barat 439
3                                     Jawa Tengah 410
4                                  Sumatera Utara 352
5                                Sulawesi Selatan 277
6                             Nusa Tenggara Timur 244
7                                     DKI Jakarta 236
8                                Sumatera Selatan 215
9                                  Sulawesi Utara 188
10                                 Sumatera Barat 186
11                             Kalimantan Selatan 175
12                                          Jambi 169
13                                           Aceh 164
14                                        Lampung 148
15                              Sulawesi Tenggara 113
16                                         Banten 113
17                             Nusa Tenggara Barat 95
18                                       Gorontalo 93
19                                        Bengkulu 82
20                                   DI Yogyakarta 80
21                                  Kepulauan Riau 66
22                       Kepulauan Bangka Belitung 62
23                                          Maluku 58
24                                            Bali 48
25                                            Riau 48
26                               Kalimantan Tengah 44
27                                     Papua Barat 39
28                                           Papua 34
29                                 Sulawesi Tengah 33
30                                  Sulawesi Barat 24
31                                    Maluku Utara 21
32                                Kalimantan Timur 14
33                                 Kalimantan Utara 7
34                                 Kalimantan Barat 7

In [3]:
concat = df.copy()
split = concat.iloc[:,0].str.split(' ')
# isna = concat[1].isna()
concat.loc[:, 1] = split.str[-1]
concat.iloc[:, 0] = split.str[:-1].str.join(' ') 
# concat.columns = np.arange(2)
concat

   JUMLAH PUSKESMAS YANG MELAKSANAKAN KEGIATAN KESEHATAN OLAHRAGA    1
1                                          Jawa Timur              578
2                                          Jawa Barat              439
3                                         Jawa Tengah              410
4                                      Sumatera Utara              352
5                                    Sulawesi Selatan              277
6                                 Nusa Tenggara Timur              244
7                                         DKI Jakarta              236
8                                    Sumatera Selatan              215
9                                      Sulawesi Utara              188
10                                     Sumatera Barat              186
11                                 Kalimantan Selatan              175
12                                              Jambi              169
13                                               Aceh              164
14                                            Lampung              148
15                                  Sulawesi Tenggara              113
16                                             Banten              113
17                                Nusa Tenggara Barat               95
18                                          Gorontalo               93
19                                           Bengkulu               82
20                                      DI Yogyakarta               80
21                                     Kepulauan Riau               66
22                          Kepulauan Bangka Belitung               62
23                                             Maluku               58
24                                               Bali               48
25                                               Riau               48
26                                  Kalimantan Tengah               44
27                                        Papua Barat               39
28                                              Papua               34
29                                    Sulawesi Tengah               33
30                                     Sulawesi Barat               24
31                                       Maluku Utara               21
32                                   Kalimantan Timur               14
33                                   Kalimantan Utara                7
34                                   Kalimantan Barat                7

In [4]:
final = concat.copy()
final[1] = final[1].str.replace(',', '.', regex=False).astype(np.int_)
final.columns = ['provinsi', 'jumlah']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                           jumlah
provinsi
Jawa Timur                    578
Jawa Barat                    439
Jawa Tengah                   410
Sumatera Utara                352
Sulawesi Selatan              277
Nusa Tenggara Timur           244
DKI Jakarta                   236
Sumatera Selatan              215
Sulawesi Utara                188
Sumatera Barat                186
Kalimantan Selatan            175
Jambi                         169
Aceh                          164
Lampung                       148
Sulawesi Tenggara             113
Banten                        113
Nusa Tenggara Barat            95
Gorontalo                      93
Bengkulu                       82
DI Yogyakarta                  80
Kepulauan Riau                 66
Kepulauan Bangka Belitung      62
Maluku                         58
Bali                           48
Riau                           48
Kalimantan Tengah              44
Papua Barat                    39
Papua                          34
Sulawesi Tengah                33
Sulawesi Barat                 24
Maluku Utara                   21
Kalimantan Timur               14
Kalimantan Utara                7
Kalimantan Barat                7

In [5]:
final.to_csv('output/2017_jumlah_puskesmas_kesehatan_kerja_olah_raga_masyarakat.csv')