In [7]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [8]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (0, 30, 470, 570), pages = '91')
df = data[0]
df = df[3:]
df

                         GAMBAR 2.25
3              Sulawesi Barat 100,00
4                   Gorontalo 100,00
5             Sulawesi Tengah 100,00
6            Kalimantan Timur 100,00
7          Kalimantan Selatan 100,00
8            Kalimantan Barat 100,00
9               DI Yogyakarta 100,00
10                Jawa Tengah 100,00
11  Kepulauan Bangka Belitung 100,00
12                      Jambi 100,00
13                       Riau 100,00
14             Sumatera Barat 100,00
15                     Lampung 93,33
16           Kalimantan Tengah 92,86
17         Nusa Tenggara Barat 90,00
18                        Bali 88,89
19                  Jawa Barat 88,89
20                      Banten 87,50
21         Nusa Tenggara Timur 86,36
22                       Papua 86,21
23              Kepulauan Riau 85,71
24           Sulawesi Tenggara 82,35
25            Sumatera Selatan 82,35
26                        Aceh 78,26
27            Sulawesi Selatan 75,00
28              Sulawesi Utara 73,33
29              Sumatera Utara 72,73
30                    Bengkulu 70,00
31                  Jawa Timur 63,16
32                Maluku Utara 60,00
33            Kalimantan Utara 40,00
34                      Maluku 27,27
35                  Papua Barat 7,69
36                  DKI Jakarta 0,00

In [9]:
concat = df.copy()
split = concat.iloc[:,0].str.split(' ')
# isna = concat[1].isna()
concat.loc[:, 1] = split.str[-1]
concat.iloc[:, 0] = split.str[:-1].str.join(' ') 
concat.columns = np.arange(2)
concat

                            0       1
3              Sulawesi Barat  100,00
4                   Gorontalo  100,00
5             Sulawesi Tengah  100,00
6            Kalimantan Timur  100,00
7          Kalimantan Selatan  100,00
8            Kalimantan Barat  100,00
9               DI Yogyakarta  100,00
10                Jawa Tengah  100,00
11  Kepulauan Bangka Belitung  100,00
12                      Jambi  100,00
13                       Riau  100,00
14             Sumatera Barat  100,00
15                    Lampung   93,33
16          Kalimantan Tengah   92,86
17        Nusa Tenggara Barat   90,00
18                       Bali   88,89
19                 Jawa Barat   88,89
20                     Banten   87,50
21        Nusa Tenggara Timur   86,36
22                      Papua   86,21
23             Kepulauan Riau   85,71
24          Sulawesi Tenggara   82,35
25           Sumatera Selatan   82,35
26                       Aceh   78,26
27           Sulawesi Selatan   75,00
28             Sulawesi Utara   73,33
29             Sumatera Utara   72,73
30                   Bengkulu   70,00
31                 Jawa Timur   63,16
32               Maluku Utara   60,00
33           Kalimantan Utara   40,00
34                     Maluku   27,27
35                Papua Barat    7,69
36                DKI Jakarta    0,00

In [10]:
final = concat.copy()
final[1] = final[1].str.replace(',', '.', regex=False).astype(np.double)
final.columns = ['provinsi', 'persentase']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                           persentase
provinsi
Sulawesi Barat                 100.00
Gorontalo                      100.00
Sulawesi Tengah                100.00
Kalimantan Timur               100.00
Kalimantan Selatan             100.00
Kalimantan Barat               100.00
DI Yogyakarta                  100.00
Jawa Tengah                    100.00
Kepulauan Bangka Belitung      100.00
Jambi                          100.00
Riau                           100.00
Sumatera Barat                 100.00
Lampung                         93.33
Kalimantan Tengah               92.86
Nusa Tenggara Barat             90.00
Bali                            88.89
Jawa Barat                      88.89
Banten                          87.50
Nusa Tenggara Timur             86.36
Papua                           86.21
Kepulauan Riau                  85.71
Sulawesi Tenggara               82.35
Sumatera Selatan                82.35
Aceh                            78.26
Sulawesi Selatan                75.00
Sulawesi Utara                  73.33
Sumatera Utara                  72.73
Bengkulu                        70.00
Jawa Timur                      63.16
Maluku Utara                    60.00
Kalimantan Utara                40.00
Maluku                          27.27
Papua Barat                      7.69
DKI Jakarta                      0.00

In [11]:
final.to_csv('output/2017_persentase_instalasi_farmasi_manajemen_obat_vaksin.csv')