In [6]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [7]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (90, 30, 430, 570), pages = '76')
df = data[0]
df = df.iloc[1:,[0,2]]
df

   JUMLAH KLINIK PRATAMA PER PROVINSI DI INDONESIA  Unnamed: 1
1                                      Jawa Tengah       919.0
2                               Sumatera Utara 830         NaN
3                                   Jawa Barat 810         NaN
4                                   Jawa Timur 793         NaN
5                                       Banten 732         NaN
6                                  DKI Jakarta 653         NaN
7                             Kalimantan Timur 281         NaN
8                                      Lampung 275         NaN
9                             Sumatera Selatan 234         NaN
10                            Sulawesi Selatan 222         NaN
11                              Kepulauan Riau 219         NaN
12                              Sumatera Barat 210         NaN
13                           Kalimantan Tengah 163         NaN
14                                        Riau 140         NaN
15                                       Jambi 137         NaN
16                         Nusa Tenggara Timur 109         NaN
17                                        Bali 108         NaN
18                               DI Yogyakarta 106         NaN
19                                         Aceh 97         NaN
20                             Kalimantan Barat 91         NaN
21                          Nusa Tenggara Barat 86         NaN
22                              Sulawesi Tengah 60         NaN
23                            Sulawesi Tenggara 59         NaN
24                                     Bengkulu 59         NaN
25                           Kalimantan Selatan 53         NaN
26                    Kepulauan Bangka Belitung 53         NaN
27                                        Papua 52         NaN
28                                  Papua Barat 33         NaN
29                               Sulawesi Utara 30         NaN
30                                       Maluku 17         NaN
31                                     Gorontalo 4         NaN
32                                  Maluku Utara 3         NaN
33                                Sulawesi Barat 2         NaN
34                              Kalimantan Utara 1         NaN

In [8]:
concat = df.copy()
concat.columns = np.arange(2)
split = concat.iloc[:,0].str.split(' ')
isna = concat.iloc[:,1].isna()
concat.loc[isna, 1] = split.str[-1]
concat.loc[isna, 0] = split.str[:-1].str.join(' ') 
concat

                            0      1
1                 Jawa Tengah  919.0
2              Sumatera Utara    830
3                  Jawa Barat    810
4                  Jawa Timur    793
5                      Banten    732
6                 DKI Jakarta    653
7            Kalimantan Timur    281
8                     Lampung    275
9            Sumatera Selatan    234
10           Sulawesi Selatan    222
11             Kepulauan Riau    219
12             Sumatera Barat    210
13          Kalimantan Tengah    163
14                       Riau    140
15                      Jambi    137
16        Nusa Tenggara Timur    109
17                       Bali    108
18              DI Yogyakarta    106
19                       Aceh     97
20           Kalimantan Barat     91
21        Nusa Tenggara Barat     86
22            Sulawesi Tengah     60
23          Sulawesi Tenggara     59
24                   Bengkulu     59
25         Kalimantan Selatan     53
26  Kepulauan Bangka Belitung     53
27                      Papua     52
28                Papua Barat     33
29             Sulawesi Utara     30
30                     Maluku     17
31                  Gorontalo      4
32               Maluku Utara      3
33             Sulawesi Barat      2
34           Kalimantan Utara      1

In [9]:
final = concat.copy()
# final[1] = final[1].astype(np.double)
final[1] = final[1].astype(np.int_)
final.columns = ['provinsi', 'jumlah']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                           jumlah
provinsi
Jawa Tengah                   919
Sumatera Utara                830
Jawa Barat                    810
Jawa Timur                    793
Banten                        732
DKI Jakarta                   653
Kalimantan Timur              281
Lampung                       275
Sumatera Selatan              234
Sulawesi Selatan              222
Kepulauan Riau                219
Sumatera Barat                210
Kalimantan Tengah             163
Riau                          140
Jambi                         137
Nusa Tenggara Timur           109
Bali                          108
DI Yogyakarta                 106
Aceh                           97
Kalimantan Barat               91
Nusa Tenggara Barat            86
Sulawesi Tengah                60
Sulawesi Tenggara              59
Bengkulu                       59
Kalimantan Selatan             53
Kepulauan Bangka Belitung      53
Papua                          52
Papua Barat                    33
Sulawesi Utara                 30
Maluku                         17
Gorontalo                       4
Maluku Utara                    3
Sulawesi Barat                  2
Kalimantan Utara                1

In [10]:
final.to_csv('output/2017_jumlah_klinik_pratama.csv')