In [21]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [22]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (0, 30, 590, 570), pages = '74')
df = data[0]
df = df[2:-6]
df

                   Unnamed: 0 GAMBAR 2.10
2               DI Yogyakarta       93,39
3                 Jawa Tengah       73,29
4                        Bali       71,67
5   Kepulauan Bangka Belitung       71,43
6                  Jawa Timur       65,94
7              Sumatera Barat       60,22
8            Sulawesi Selatan       59,20
9                   Gorontalo       58,06
10        Nusa Tenggara Barat       57,50
11                    Lampung       55,22
12                      Jambi       53,76
13           Kalimantan Utara       48,98
14           Kalimantan Timur       46,93
15                   Bengkulu       43,89
16         Kalimantan Selatan       43,04
17                     Banten       42,49
18                       Riau       41,40
19           Sumatera Selatan       40,37
20           Kalimantan Barat       38,17
21             Kepulauan Riau       37,84
22          Kalimantan Tengah       35,20
23                 Jawa Barat       34,19
24            Sulawesi Tengah       33,68
25        Nusa Tenggara Timur       31,99
26                       Aceh       29,62
27             Sulawesi Barat       26,60
28             Sulawesi Utara       24,87
29             Sumatera Utara       24,52
30                Papua Barat       19,35
31                     Maluku       18,09
32                DKI Jakarta       16,76
33          Sulawesi Tenggara       16,06
34               Maluku Utara       10,08
35                      Papua        8,12

In [23]:
concat = df.copy()
# split = concat.iloc[:,0].str.split(' ')
# isna = concat[1].isna()
# concat.loc[:, 1] = split.str[-1]
# concat.iloc[:, 0] = split.str[:-1].str.join(' ') 
concat.columns = np.arange(2)
concat

                            0      1
2               DI Yogyakarta  93,39
3                 Jawa Tengah  73,29
4                        Bali  71,67
5   Kepulauan Bangka Belitung  71,43
6                  Jawa Timur  65,94
7              Sumatera Barat  60,22
8            Sulawesi Selatan  59,20
9                   Gorontalo  58,06
10        Nusa Tenggara Barat  57,50
11                    Lampung  55,22
12                      Jambi  53,76
13           Kalimantan Utara  48,98
14           Kalimantan Timur  46,93
15                   Bengkulu  43,89
16         Kalimantan Selatan  43,04
17                     Banten  42,49
18                       Riau  41,40
19           Sumatera Selatan  40,37
20           Kalimantan Barat  38,17
21             Kepulauan Riau  37,84
22          Kalimantan Tengah  35,20
23                 Jawa Barat  34,19
24            Sulawesi Tengah  33,68
25        Nusa Tenggara Timur  31,99
26                       Aceh  29,62
27             Sulawesi Barat  26,60
28             Sulawesi Utara  24,87
29             Sumatera Utara  24,52
30                Papua Barat  19,35
31                     Maluku  18,09
32                DKI Jakarta  16,76
33          Sulawesi Tenggara  16,06
34               Maluku Utara  10,08
35                      Papua   8,12

In [24]:
final = concat.copy()
final[1] = final[1].str.replace(',', '.', regex=False).astype(np.double)
final.columns = ['provinsi', 'persentase']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                           persentase
provinsi
DI Yogyakarta                   93.39
Jawa Tengah                     73.29
Bali                            71.67
Kepulauan Bangka Belitung       71.43
Jawa Timur                      65.94
Sumatera Barat                  60.22
Sulawesi Selatan                59.20
Gorontalo                       58.06
Nusa Tenggara Barat             57.50
Lampung                         55.22
Jambi                           53.76
Kalimantan Utara                48.98
Kalimantan Timur                46.93
Bengkulu                        43.89
Kalimantan Selatan              43.04
Banten                          42.49
Riau                            41.40
Sumatera Selatan                40.37
Kalimantan Barat                38.17
Kepulauan Riau                  37.84
Kalimantan Tengah               35.20
Jawa Barat                      34.19
Sulawesi Tengah                 33.68
Nusa Tenggara Timur             31.99
Aceh                            29.62
Sulawesi Barat                  26.60
Sulawesi Utara                  24.87
Sumatera Utara                  24.52
Papua Barat                     19.35
Maluku                          18.09
DKI Jakarta                     16.76
Sulawesi Tenggara               16.06
Maluku Utara                    10.08
Papua                            8.12

In [25]:
final.to_csv('output/2017_persentase_akreditasi_puskesmas.csv')