In [1]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [2]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (200, 0, 580, 510), pages = '64')
df = data[0]
df = df.iloc[1:]
df

   JUMLAH PUSKESMAS YANG MEMBERIKAN PELAYANAN SESUAI STANDAR
1                                     Jawa Tengah 502
2                                      Jawa Barat 499
3                                      Jawa Timur 455
4                                            Aceh 215
5                                 Sumatera  Barat 139
6                              Kalimantan Selatan 117
7                               Sumatera  Selatan 113
8                                Sulawesi Selatan 111
9                                   DI Yogyakarta 108
10                                 Sumatera Utara 108
11                                           Bali 102
12                                  Sulawesi Utara 88
13                                          Banten 80
14                                         Lampung 75
15                                 Sulawesi Tengah 74
16                             Nusa Tenggara Barat 66
17                                Kalimantan Timur 64
18                                Kalimantan Barat 53
19                                            Riau 43
20                                       Gorontalo 30
21                                           Jambi 30
22                            Kep. Bangka Belitung 26
23                                     DKI Jakarta 25
24                             Nusa Tenggara Barat 22
25                                          Maluku 20
26                                    Maluku Utara 11
27                                       Kep. Riau 11
28                                      Papua Barat 8
29                                Kalimantan Tengah 8
30                                Sulawesi Tenggara 7
31                                         Bengkulu 7
32                                 Kalimantan Utara 4
33                                            Papua 2
34                                   Sulawesi Barat 2

In [3]:
df.columns = np.arange(1)
# jakarta = df.iloc[2,:]
df

df[1] = df[0].str.split(' ').str[-1]
df[0] = df[0].str.split(' ').str[:-1].str.join(' ')
df

# concat = df.copy()
# split = concat[0].str.split(' ')
# isna = concat[1].isna()
# concat.loc[isna, 1] = split.str[-1]
# concat.loc[isna, 0] = split.str[:-1].str.join(' ')

C:\Users\KEMENKEU\AppData\Local\Temp\ipykernel_111876\3391050899.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[1] = df[0].str.split(' ').str[-1]
C:\Users\KEMENKEU\AppData\Local\Temp\ipykernel_111876\3391050899.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[0] = df[0].str.split(' ').str[:-1].str.join(' ')

                       0    1
1            Jawa Tengah  502
2             Jawa Barat  499
3             Jawa Timur  455
4                   Aceh  215
5        Sumatera  Barat  139
6     Kalimantan Selatan  117
7      Sumatera  Selatan  113
8       Sulawesi Selatan  111
9          DI Yogyakarta  108
10        Sumatera Utara  108
11                  Bali  102
12        Sulawesi Utara   88
13                Banten   80
14               Lampung   75
15       Sulawesi Tengah   74
16   Nusa Tenggara Barat   66
17      Kalimantan Timur   64
18      Kalimantan Barat   53
19                  Riau   43
20             Gorontalo   30
21                 Jambi   30
22  Kep. Bangka Belitung   26
23           DKI Jakarta   25
24   Nusa Tenggara Barat   22
25                Maluku   20
26          Maluku Utara   11
27             Kep. Riau   11
28           Papua Barat    8
29     Kalimantan Tengah    8
30     Sulawesi Tenggara    7
31              Bengkulu    7
32      Kalimantan Utara    4
33                 Papua    2
34        Sulawesi Barat    2

In [4]:
# df[2] = df[0].str.split(' ')
# df[2] = df[0].str.split(' ').str[-1].str.replace(',', '.')
# process = df.copy()
# process['Gabung'] = process[0] + " " + process[1].fillna('')
# process[0]

#process[1] = process[0].str.split(' ').str[-1]
#process[0] = process[0].str.split(' ').str[:-1].str.join(' ')
# process

# concat = df.copy()
# split = concat[0].str.split(' ')
# isna = concat[1].isna()
# concat.loc[isna, 1] = split.str[-1]
# concat.loc[isna, 0] = split.str[:-1].str.join(' ')
# concat

In [5]:
# concat = pd.concat([concat.to_frame().T, process])
# concat

In [6]:
final = df.copy()
final[1] = final[1].str.replace(',', '.', regex=False).astype(np.int_)
final.columns = ['provinsi', 'persentase']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                      persentase
provinsi
Jawa Tengah                  502
Jawa Barat                   499
Jawa Timur                   455
Aceh                         215
Sumatera  Barat              139
Kalimantan Selatan           117
Sumatera  Selatan            113
Sulawesi Selatan             111
DI Yogyakarta                108
Sumatera Utara               108
Bali                         102
Sulawesi Utara                88
Banten                        80
Lampung                       75
Sulawesi Tengah               74
Nusa Tenggara Barat           66
Kalimantan Timur              64
Kalimantan Barat              53
Riau                          43
Gorontalo                     30
Jambi                         30
Kep. Bangka Belitung          26
DKI Jakarta                   25
Nusa Tenggara Barat           22
Maluku                        20
Maluku Utara                  11
Kep. Riau                     11
Papua Barat                    8
Kalimantan Tengah              8
Sulawesi Tenggara              7
Bengkulu                       7
Kalimantan Utara               4
Papua                          2
Sulawesi Barat                 2

In [7]:
final.to_csv('output/2017_persentase_puskesmas_pelayanan_sesuai_standar.csv')