In [1]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [2]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (290, 30, 780, 570), pages = '83')
df = data[0]
df = df[1:-4]
df

   PERSENTASE AKREDITASI RUMAH SAKIT DI INDONESIA
1                                      Bali 77,78
2                                Jawa Timur 69,62
3                       Nusa Tenggara Timur 68,09
4                         Kalimantan Tengah 66,67
5                       Nusa Tenggara Barat 65,63
6                 Kepulauan Bangka Belitung 63,16
7                               DKI Jakarta 62,24
8                          Sumatera Selatan 60,29
9                             DI Yogyakarta 60,00
10                                    Jambi 59,46
11                         Sulawesi Selatan 57,14
12                              Jawa Tengah 56,42
13                                    Papua 56,25
14                                  Lampung 54,93
15                         Kalimantan Timur 54,55
16                                 Bengkulu 54,55
17                       Kalimantan Selatan 53,49
18                           Sumatera Barat 52,56
19                           Sulawesi Barat 50,00
20                                   Banten 48,57
21                           Sumatera Utara 45,66
22                           Kepulauan Riau 45,16
23                                   Maluku 42,86
24                               Jawa Barat 42,86
25                                     Aceh 41,43
26                           Sulawesi Utara 41,30
27                                     Riau 38,89
28                         Kalimantan Barat 34,78
29                         Kalimantan Utara 33,33
30                                Gorontalo 30,77
31                        Sulawesi Tenggara 30,30
32                          Sulawesi Tengah 28,57
33                              Papua Barat 26,19
34                             Maluku Utara 22,73

In [3]:
concat = df.copy()
split = concat.iloc[:,0].str.split(' ')
# isna = concat[1].isna()
concat.loc[:, 1] = split.str[-1]
concat.iloc[:, 0] = split.str[:-1].str.join(' ') 
# concat.columns = np.arange(2)
concat

   PERSENTASE AKREDITASI RUMAH SAKIT DI INDONESIA      1
1                                            Bali  77,78
2                                      Jawa Timur  69,62
3                             Nusa Tenggara Timur  68,09
4                               Kalimantan Tengah  66,67
5                             Nusa Tenggara Barat  65,63
6                       Kepulauan Bangka Belitung  63,16
7                                     DKI Jakarta  62,24
8                                Sumatera Selatan  60,29
9                                   DI Yogyakarta  60,00
10                                          Jambi  59,46
11                               Sulawesi Selatan  57,14
12                                    Jawa Tengah  56,42
13                                          Papua  56,25
14                                        Lampung  54,93
15                               Kalimantan Timur  54,55
16                                       Bengkulu  54,55
17                             Kalimantan Selatan  53,49
18                                 Sumatera Barat  52,56
19                                 Sulawesi Barat  50,00
20                                         Banten  48,57
21                                 Sumatera Utara  45,66
22                                 Kepulauan Riau  45,16
23                                         Maluku  42,86
24                                     Jawa Barat  42,86
25                                           Aceh  41,43
26                                 Sulawesi Utara  41,30
27                                           Riau  38,89
28                               Kalimantan Barat  34,78
29                               Kalimantan Utara  33,33
30                                      Gorontalo  30,77
31                              Sulawesi Tenggara  30,30
32                                Sulawesi Tengah  28,57
33                                    Papua Barat  26,19
34                                   Maluku Utara  22,73

In [4]:
final = concat.copy()
final[1] = final[1].str.replace(',', '.', regex=False).astype(np.double)
final.columns = ['provinsi', 'persentase']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                           persentase
provinsi
Bali                            77.78
Jawa Timur                      69.62
Nusa Tenggara Timur             68.09
Kalimantan Tengah               66.67
Nusa Tenggara Barat             65.63
Kepulauan Bangka Belitung       63.16
DKI Jakarta                     62.24
Sumatera Selatan                60.29
DI Yogyakarta                   60.00
Jambi                           59.46
Sulawesi Selatan                57.14
Jawa Tengah                     56.42
Papua                           56.25
Lampung                         54.93
Kalimantan Timur                54.55
Bengkulu                        54.55
Kalimantan Selatan              53.49
Sumatera Barat                  52.56
Sulawesi Barat                  50.00
Banten                          48.57
Sumatera Utara                  45.66
Kepulauan Riau                  45.16
Maluku                          42.86
Jawa Barat                      42.86
Aceh                            41.43
Sulawesi Utara                  41.30
Riau                            38.89
Kalimantan Barat                34.78
Kalimantan Utara                33.33
Gorontalo                       30.77
Sulawesi Tenggara               30.30
Sulawesi Tengah                 28.57
Papua Barat                     26.19
Maluku Utara                    22.73

In [5]:
final.to_csv('output/2017_persentase_akreditasi_rs.csv')