In [8]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [9]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, pages = '75')
df = data[0]
# df = df.iloc[1:,[0,2]]
data_list = df.columns[0].split('\r')[:-1]
data_list
# df

['DKI Jakarta207',
 'Jawa Barat171',
 'Jawa Tengah109',
 'Sulawesi Selatan67',
 'Sumatera Utara55',
 'DI Yogyakarta44',
 'Jawa Timur40',
 'Banten28',
 'Nusa Tenggara Barat25',
 'Bali24',
 'Sumatera Barat19',
 'Sulawesi Tengah16',
 'Riau16',
 'Sulawesi Utara14',
 'Kalimantan Selatan14',
 'Kalimantan Tengah14',
 'Kepulauan Riau14',
 'Kepulauan Bangka Belitung13',
 'Sumatera Selatan12',
 'Jambi10',
 'Kalimantan Timur8',
 'Kalimantan Barat8',
 'Nusa Tenggara Timur8',
 'Papua6',
 'Sulawesi Tenggara6',
 'Lampung6',
 'Bengkulu6',
 'Papua Barat3',
 'Maluku3',
 'Aceh3']

In [10]:
num_part = [int(''.join(x for x in data_item if x.isnumeric())) for data_item in data_list]
num_part

[207,
 171,
 109,
 67,
 55,
 44,
 40,
 28,
 25,
 24,
 19,
 16,
 16,
 14,
 14,
 14,
 14,
 13,
 12,
 10,
 8,
 8,
 8,
 6,
 6,
 6,
 6,
 3,
 3,
 3]

In [11]:
pairs = tuple((x.replace(str(y), ''), y) for x, y in zip(data_list, num_part))
pairs

(('DKI Jakarta', 207),
 ('Jawa Barat', 171),
 ('Jawa Tengah', 109),
 ('Sulawesi Selatan', 67),
 ('Sumatera Utara', 55),
 ('DI Yogyakarta', 44),
 ('Jawa Timur', 40),
 ('Banten', 28),
 ('Nusa Tenggara Barat', 25),
 ('Bali', 24),
 ('Sumatera Barat', 19),
 ('Sulawesi Tengah', 16),
 ('Riau', 16),
 ('Sulawesi Utara', 14),
 ('Kalimantan Selatan', 14),
 ('Kalimantan Tengah', 14),
 ('Kepulauan Riau', 14),
 ('Kepulauan Bangka Belitung', 13),
 ('Sumatera Selatan', 12),
 ('Jambi', 10),
 ('Kalimantan Timur', 8),
 ('Kalimantan Barat', 8),
 ('Nusa Tenggara Timur', 8),
 ('Papua', 6),
 ('Sulawesi Tenggara', 6),
 ('Lampung', 6),
 ('Bengkulu', 6),
 ('Papua Barat', 3),
 ('Maluku', 3),
 ('Aceh', 3))

In [12]:
df = pd.DataFrame(pairs)
df

                            0    1
0                 DKI Jakarta  207
1                  Jawa Barat  171
2                 Jawa Tengah  109
3            Sulawesi Selatan   67
4              Sumatera Utara   55
5               DI Yogyakarta   44
6                  Jawa Timur   40
7                      Banten   28
8         Nusa Tenggara Barat   25
9                        Bali   24
10             Sumatera Barat   19
11            Sulawesi Tengah   16
12                       Riau   16
13             Sulawesi Utara   14
14         Kalimantan Selatan   14
15          Kalimantan Tengah   14
16             Kepulauan Riau   14
17  Kepulauan Bangka Belitung   13
18           Sumatera Selatan   12
19                      Jambi   10
20           Kalimantan Timur    8
21           Kalimantan Barat    8
22        Nusa Tenggara Timur    8
23                      Papua    6
24          Sulawesi Tenggara    6
25                    Lampung    6
26                   Bengkulu    6
27                Papua Barat    3
28                     Maluku    3
29                       Aceh    3

In [13]:
final = df.copy()
# final[1] = final[1].astype(np.double)
# final[1] = final[1].astype(np.int_)
final.columns = ['provinsi', 'jumlah']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                           jumlah
provinsi
DKI Jakarta                   207
Jawa Barat                    171
Jawa Tengah                   109
Sulawesi Selatan               67
Sumatera Utara                 55
DI Yogyakarta                  44
Jawa Timur                     40
Banten                         28
Nusa Tenggara Barat            25
Bali                           24
Sumatera Barat                 19
Sulawesi Tengah                16
Riau                           16
Sulawesi Utara                 14
Kalimantan Selatan             14
Kalimantan Tengah              14
Kepulauan Riau                 14
Kepulauan Bangka Belitung      13
Sumatera Selatan               12
Jambi                          10
Kalimantan Timur                8
Kalimantan Barat                8
Nusa Tenggara Timur             8
Papua                           6
Sulawesi Tenggara               6
Lampung                         6
Bengkulu                        6
Papua Barat                     3
Maluku                          3
Aceh                            3

In [14]:
final.to_csv('output/2017_jumlah_klinik_utama.csv')