In [1]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [16]:
file = 'Profil-Kesehatan-2021.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (30, 0, 520, 530), pages = '91')
df = data[0]
df.columns = np.arange(2)
# jakarta = df.iloc[2,:]
# df = df.iloc[16:]
df

# df[1] = df[0].str.split(' ').str[-1]
# df[0] = df[0].str.split(' ').str[:-1].str.join(' ')
# df = df[3:]
# df

concat = df.copy()
split = concat[0].str.split(' ')
isna = concat[1].isna()
concat.loc[isna, 1] = split.str[-1]
concat.loc[isna, 0] = split.str[:-1].str.join(' ') 
concat = concat[2:]
concat

                       0       1
2             Jawa Timur  10.432
3            Jawa Tengah   8.366
4             Jawa Barat   7.274
5                   Aceh   4.882
6         Sumatera Utara   4.376
7       Sulawesi Selatan   3.816
8    Nusa Tenggara Timur   2.992
9       Sumatera Selatan   2.892
10        Sumatera Barat   2.527
11               Lampung   2.526
12   Nusa Tenggara Barat   2.236
13       Sulawesi Tengah   1.853
14           DKI Jakarta   1.828
15    Kalimantan Selatan   1.751
16      Kalimantan Barat   1.691
17                Banten   1.545
18      Kalimantan Timur   1.433
19                  Riau   1.414
20              Bengkulu   1.270
21     Sulawesi Tenggara   1.239
22      D.I. Yogyakarata   1.188
23     Kalimantan Tengah   1.174
24                 Jambi   1.106
25          Maluku Utara     748
26                  Bali     744
27        Sulawesi Barat     705
28        Sulawesi Utara     617
29             Gorontalo     576
30  Kep. Bangka Belitung     567
31        Kepulauan Riau     476
32           Papua Barat     434
33                Maluku     417
34                 Papua     289
35      Kalimantan Utara     124

In [49]:
# df[2] = df[0].str.split(' ')
# df[2] = df[0].str.split(' ').str[-1].str.replace(',', '.')
# process = df.copy()
# process['Gabung'] = process[0] + " " + process[1].fillna('')
# process[0]

#process[1] = process[0].str.split(' ').str[-1]
#process[0] = process[0].str.split(' ').str[:-1].str.join(' ')
# process

# concat = df.copy()
# split = concat[0].str.split(' ')
# isna = concat[1].isna()
# concat.loc[isna, 1] = split.str[-1]
# concat.loc[isna, 0] = split.str[:-1].str.join(' ')
# concat

                            0      1
1                   Indonesia   89,7
2            Kalimantan Utara  100,0
3                        Bali  100,0
4               DI Yogyakarta  100,0
5   Kepulauan Bangka Belitung  100,0
6                    Bengkulu  100,0
7                  Jawa Timur   99,5
8                 Jawa Tengah   99,4
9                   Gorontalo   98,9
10         Kalimantan Selatan   98,7
11           Sulawesi Selatan   98,5
12             Sumatera Barat   98,2
13           Kalimantan Timur   97,3
14           Sumatera Selatan   97,1
15            Sulawesi Tengah   95,7
16                 Jawa Barat   94,9
17                    Lampung   94,9
18          Kalimantan Tengah   94,6
19             Kepulauan Riau   94,3
20                     Banten   94,3
21        Nusa Tenggara Barat   93,7
22           Kalimantan Barat   93,5
23                       Aceh   92,8
24                       Riau   92,6
25             Sumatera Utara   91,9
26                      Jambi   90,8
27          Sulawesi Tenggara   90,1
28        Nusa Tenggara Timur   89,5
29             Sulawesi Barat   88,5
30             Sulawesi Utara   86,7
31               Maluku Utara   76,9
32                     Maluku   72,6
33                DKI Jakarta   47,9
34                Papua Barat   44,7
35                      Papua   28,0

In [60]:
# concat = pd.concat([concat.to_frame().T, process])
# concat

In [25]:
final = concat.copy()
# final[1] = final[1].str.replace('.', '', regex=False).astype(np.double)
final.columns = ['provinsi', 'Jumlah Posbindu PTM']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final['Jumlah Posbindu PTM'] = pd.to_numeric(final['Jumlah Posbindu PTM'])
final

                      Jumlah Posbindu PTM
provinsi
Jawa Timur                         10.432
Jawa Tengah                         8.366
Jawa Barat                          7.274
Aceh                                4.882
Sumatera Utara                      4.376
Sulawesi Selatan                    3.816
Nusa Tenggara Timur                 2.992
Sumatera Selatan                    2.892
Sumatera Barat                      2.527
Lampung                             2.526
Nusa Tenggara Barat                 2.236
Sulawesi Tengah                     1.853
DKI Jakarta                         1.828
Kalimantan Selatan                  1.751
Kalimantan Barat                    1.691
Banten                              1.545
Kalimantan Timur                    1.433
Riau                                1.414
Bengkulu                            1.270
Sulawesi Tenggara                   1.239
D.I. Yogyakarata                    1.188
Kalimantan Tengah                   1.174
Jambi                               1.106
Maluku Utara                      748.000
Bali                              744.000
Sulawesi Barat                    705.000
Sulawesi Utara                    617.000
Gorontalo                         576.000
Kep. Bangka Belitung              567.000
Kepulauan Riau                    476.000
Papua Barat                       434.000
Maluku                            417.000
Papua                             289.000
Kalimantan Utara                  124.000

In [26]:
final.to_csv('output/2021_Jumlah_Posbindu_PTM.csv')