In [1]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [7]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (620, 0, 750, 700), pages = '8', multiple_tables = False)
data = data[0]
data

   GAMBAR 2.1      JUMLAH PUSKESMAS DI INDONESIA TAHUN 2013-2017
0  GAMBAR 2.2  RASIO PUSKESMAS PER KECAMATAN DI INDONESIA TAH...
1  GAMBAR 2.3  JUMLAH PUSKESMAS YANG MEMBERIKAN PELAYANAN SES...
2         NaN                            DI INDONESIA TAHUN 2017
3  GAMBAR 2.4  JUMLAH PUSKESMAS RAWAT INAP DAN NON RAWAT INAP...
4         NaN                                    TAHUN 2013-2017

In [8]:
cols = data.columns
added = pd.concat((cols.to_frame().T, data))
added

   GAMBAR 2.1      JUMLAH PUSKESMAS DI INDONESIA TAHUN 2013-2017
0  GAMBAR 2.1      JUMLAH PUSKESMAS DI INDONESIA TAHUN 2013-2017
0  GAMBAR 2.2  RASIO PUSKESMAS PER KECAMATAN DI INDONESIA TAH...
1  GAMBAR 2.3  JUMLAH PUSKESMAS YANG MEMBERIKAN PELAYANAN SES...
2         NaN                            DI INDONESIA TAHUN 2017
3  GAMBAR 2.4  JUMLAH PUSKESMAS RAWAT INAP DAN NON RAWAT INAP...
4         NaN                                    TAHUN 2013-2017

In [9]:
added.columns = np.arange(2)
added

            0                                                  1
0  GAMBAR 2.1      JUMLAH PUSKESMAS DI INDONESIA TAHUN 2013-2017
0  GAMBAR 2.2  RASIO PUSKESMAS PER KECAMATAN DI INDONESIA TAH...
1  GAMBAR 2.3  JUMLAH PUSKESMAS YANG MEMBERIKAN PELAYANAN SES...
2         NaN                            DI INDONESIA TAHUN 2017
3  GAMBAR 2.4  JUMLAH PUSKESMAS RAWAT INAP DAN NON RAWAT INAP...
4         NaN                                    TAHUN 2013-2017

In [10]:
def my_isnan(var):
    return type(var) == float and math.isnan(var)
    
selected = []
carry_texts = []
for index, row in added[::-1].iterrows():
    if my_isnan(row[0]):
        carry_texts.insert(0, row[1])
    elif len(carry_texts) > 0:
        carry_texts.insert(0, row[1])
        row[1] = ' '.join(carry_texts)
        carry_texts = []
        selected.insert(0, row)
    else:
        selected.insert(0, row)
filtered = pd.DataFrame(selected)
filtered

            0                                                  1
0  GAMBAR 2.1      JUMLAH PUSKESMAS DI INDONESIA TAHUN 2013-2017
0  GAMBAR 2.2  RASIO PUSKESMAS PER KECAMATAN DI INDONESIA TAH...
1  GAMBAR 2.3  JUMLAH PUSKESMAS YANG MEMBERIKAN PELAYANAN SES...
3  GAMBAR 2.4  JUMLAH PUSKESMAS RAWAT INAP DAN NON RAWAT INAP...

In [11]:
new_index = filtered.reset_index(drop=True)
new_index[0] = new_index[0].str.title()
new_index[1] = new_index[1].str.title()
# new_index[2] = new_index[2].astype(np.int_)
new_index

            0                                                  1
0  Gambar 2.1      Jumlah Puskesmas Di Indonesia Tahun 2013-2017
1  Gambar 2.2  Rasio Puskesmas Per Kecamatan Di Indonesia Tah...
2  Gambar 2.3  Jumlah Puskesmas Yang Memberikan Pelayanan Ses...
3  Gambar 2.4  Jumlah Puskesmas Rawat Inap Dan Non Rawat Inap...

In [12]:
new_index.columns = ['gambar', 'judul']
final = new_index.set_index('gambar')
final

                                                        judul
gambar
Gambar 2.1      Jumlah Puskesmas Di Indonesia Tahun 2013-2017
Gambar 2.2  Rasio Puskesmas Per Kecamatan Di Indonesia Tah...
Gambar 2.3  Jumlah Puskesmas Yang Memberikan Pelayanan Ses...
Gambar 2.4  Jumlah Puskesmas Rawat Inap Dan Non Rawat Inap...

In [33]:
final.to_csv('output/grafik2017_part1.csv')