In [44]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [45]:
file = 'Profil-Kesehatan-Indonesia-tahun-2017.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (0, 50, 150, 700), pages = '10', multiple_tables = False)
data = data[0]
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,GAMBAR 2.25,PERSENTASE INSTALASI FARMASI,KABUPATEN/KOTA,NaN,YANG MELAKUKAN,NaN
1,NaN,MANAJEMEN PENGELOLAAN,OBAT,DAN VAKSIN,SESUAI,STANDAR
2,NaN,DI INDONESIA TAHUN 2017,NaN,NaN,NaN,NaN
3,GAMBAR 2.26,PERSENTASE POSYANDU AKTIF PER PROVINSI DI INDO...,NaN,NaN,NaN,NaN

In [46]:
data.columns = np.arange(6)
data

,0,1,2,3,4,5
0,GAMBAR 2.25,PERSENTASE INSTALASI FARMASI,KABUPATEN/KOTA,NaN,YANG MELAKUKAN,NaN
1,NaN,MANAJEMEN PENGELOLAAN,OBAT,DAN VAKSIN,SESUAI,STANDAR
2,NaN,DI INDONESIA TAHUN 2017,NaN,NaN,NaN,NaN
3,GAMBAR 2.26,PERSENTASE POSYANDU AKTIF PER PROVINSI DI INDO...,NaN,NaN,NaN,NaN

In [47]:
joined = data.loc[:,1:].apply(lambda x: ' '.join(x.dropna()), axis=1)
# data
added = data.loc[:,(0,)]
added.loc[:,1] = joined
added
# joined

             0                                                  1
0  GAMBAR 2.25  PERSENTASE INSTALASI FARMASI KABUPATEN/KOTA YA...
1          NaN  MANAJEMEN PENGELOLAAN OBAT DAN VAKSIN SESUAI S...
2          NaN                            DI INDONESIA TAHUN 2017
3  GAMBAR 2.26  PERSENTASE POSYANDU AKTIF PER PROVINSI DI INDO...

In [49]:
added.columns = np.arange(2)
added.reset_index(drop=True, inplace=True)
added

             0                                                  1
0  GAMBAR 2.25  PERSENTASE INSTALASI FARMASI KABUPATEN/KOTA YA...
1          NaN  MANAJEMEN PENGELOLAAN OBAT DAN VAKSIN SESUAI S...
2          NaN                            DI INDONESIA TAHUN 2017
3  GAMBAR 2.26  PERSENTASE POSYANDU AKTIF PER PROVINSI DI INDO...

In [50]:
def my_isnan(var):
    return type(var) == float and math.isnan(var)
    
selected = []
carry_texts = []
for index, row in added[::-1].iterrows():
    if my_isnan(row[0]):
        carry_texts.insert(0, row[1])
    elif len(carry_texts) > 0:
        carry_texts.insert(0, row[1])
        row[1] = ' '.join(carry_texts)
        carry_texts = []
        selected.insert(0, row)
    else:
        selected.insert(0, row)
filtered = pd.DataFrame(selected)
filtered

             0                                                  1
0  GAMBAR 2.25  PERSENTASE INSTALASI FARMASI KABUPATEN/KOTA YA...
3  GAMBAR 2.26  PERSENTASE POSYANDU AKTIF PER PROVINSI DI INDO...

In [51]:
new_index = filtered.reset_index(drop=True)
new_index[0] = new_index[0].str.title()
new_index[1] = new_index[1].str.title()
# new_index[2] = new_index[2].astype(np.int_)
new_index

             0                                                  1
0  Gambar 2.25  Persentase Instalasi Farmasi Kabupaten/Kota Ya...
1  Gambar 2.26  Persentase Posyandu Aktif Per Provinsi Di Indo...

In [52]:
new_index.columns = ['gambar', 'judul']
final = new_index.set_index('gambar')
final

                                                         judul
gambar
Gambar 2.25  Persentase Instalasi Farmasi Kabupaten/Kota Ya...
Gambar 2.26  Persentase Posyandu Aktif Per Provinsi Di Indo...

In [56]:
part1 = pd.read_csv('output/grafik2017_part1.csv', index_col=0)
part1

                                                        judul
gambar
Gambar 2.1      Jumlah Puskesmas Di Indonesia Tahun 2013-2017
Gambar 2.2  Rasio Puskesmas Per Kecamatan Di Indonesia Tah...
Gambar 2.3  Jumlah Puskesmas Yang Memberikan Pelayanan Ses...
Gambar 2.4  Jumlah Puskesmas Rawat Inap Dan Non Rawat Inap...

In [58]:
part2 = pd.read_csv('output/grafik2017_part2.csv', index_col=0)
part2

                                                         judul
gambar
Gambar 2.5   Jumlah Puskesmas Yang Melaksanakan Pelayanan K...
Gambar 2.6   Jumlah Puskesmas Yang Melaksanakan Kegiatan Ke...
Gambar 2.7   Jumlah Puskesmas Yang Melaksanakan Kegiatan Ke...
Gambar 2.8   Puskesmas Yang Menyelenggarakan Pelayanan Kese...
Gambar 2.9   Puskesmas Yang Menyelenggarakan Hatra, Asman, ...
Gambar 2.10  Persentase Akreditasi Puskesmas Di Indonesia T...
Gambar 2.11  Jumlah Klinik Utama Per Provinsi Di Indonesia ...
Gambar 2.12  Jumlah Klinik Pratama Per Provinsi Di Indonesi...
Gambar 2.13  Jumlah Praktik Mandiri Dokter Umum Per Provins...
Gambar 2.14  Jumlah Praktik Mandiri Dokter Gigi Per Provins...
Gambar 2.15  Perkembangan Jumlah Rumah Sakit Umum Dan Rumah...
Gambar 2.16  Persentase Rumah Sakit Menurut Kelas Di Indone...
Gambar 2.17  Rasio Jumlah Tempat Tidur Rumah Sakit Per 1.00...
Gambar 2.18  Rasio Tempat Tidur Rumah Sakit Per 1.000 Pendu...
Gambar 2.19  Persentase Akreditasi Rumah Sakit Di Indonesia...
Gambar 2.20  Distribusi Unit Transfusi Darah (Utd) Di Indon...
Gambar 2.21  Jumlah Program Studi Poltekkes Diploma Iii Dan...
Gambar 2.22  Jumlah Peserta Didik Diploma Iii Dan Diploma I...
Gambar 2.23  Jumlah Sarana Produksi Kefarmasian Dan Alat Ke...
Gambar 2.24  Jumlah Sarana Distribusi Kefarmasian Dan Alat ...

In [59]:
full = pd.concat((part1, part2, final))
full

                                                         judul
gambar
Gambar 2.1       Jumlah Puskesmas Di Indonesia Tahun 2013-2017
Gambar 2.2   Rasio Puskesmas Per Kecamatan Di Indonesia Tah...
Gambar 2.3   Jumlah Puskesmas Yang Memberikan Pelayanan Ses...
Gambar 2.4   Jumlah Puskesmas Rawat Inap Dan Non Rawat Inap...
Gambar 2.5   Jumlah Puskesmas Yang Melaksanakan Pelayanan K...
Gambar 2.6   Jumlah Puskesmas Yang Melaksanakan Kegiatan Ke...
Gambar 2.7   Jumlah Puskesmas Yang Melaksanakan Kegiatan Ke...
Gambar 2.8   Puskesmas Yang Menyelenggarakan Pelayanan Kese...
Gambar 2.9   Puskesmas Yang Menyelenggarakan Hatra, Asman, ...
Gambar 2.10  Persentase Akreditasi Puskesmas Di Indonesia T...
Gambar 2.11  Jumlah Klinik Utama Per Provinsi Di Indonesia ...
Gambar 2.12  Jumlah Klinik Pratama Per Provinsi Di Indonesi...
Gambar 2.13  Jumlah Praktik Mandiri Dokter Umum Per Provins...
Gambar 2.14  Jumlah Praktik Mandiri Dokter Gigi Per Provins...
Gambar 2.15  Perkembangan Jumlah Rumah Sakit Umum Dan Rumah...
Gambar 2.16  Persentase Rumah Sakit Menurut Kelas Di Indone...
Gambar 2.17  Rasio Jumlah Tempat Tidur Rumah Sakit Per 1.00...
Gambar 2.18  Rasio Tempat Tidur Rumah Sakit Per 1.000 Pendu...
Gambar 2.19  Persentase Akreditasi Rumah Sakit Di Indonesia...
Gambar 2.20  Distribusi Unit Transfusi Darah (Utd) Di Indon...
Gambar 2.21  Jumlah Program Studi Poltekkes Diploma Iii Dan...
Gambar 2.22  Jumlah Peserta Didik Diploma Iii Dan Diploma I...
Gambar 2.23  Jumlah Sarana Produksi Kefarmasian Dan Alat Ke...
Gambar 2.24  Jumlah Sarana Distribusi Kefarmasian Dan Alat ...
Gambar 2.25  Persentase Instalasi Farmasi Kabupaten/Kota Ya...
Gambar 2.26  Persentase Posyandu Aktif Per Provinsi Di Indo...

In [60]:
full.to_csv('output/grafik2017_full.csv', sep=';')