In [1]:
#!pip install -q tabula-py

In [2]:
import tabula as tb
import pandas as pd
import numpy as np
import math

In [3]:
file = 'Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (430, 94, 746, 518), pages = '38')

In [4]:
df = data[0]
df

,Unnamed: 0,Unnamed: 1,Laki-Laki,Unnamed: 2,Perempuan,Unnamed: 3
0,Lahir Hidup,-,-,NaN,-,4.747.077
1,Bayi,0 Tahun,2.381.409,NaN,2.280.969,4.662.378
2,Batita (Bawah Tiga Tahun),0 – 2 Tahun,7.161.120,NaN,6.866.989,14.028.109
3,Anak Balita,1 – 4 Tahun,9.598.795,NaN,9.214.585,18.813.380
4,Balita (Bawah Lima Tahun),0 – 4 Tahun,11.980.204,NaN,11.495.554,23.475.758
5,Pra Sekolah,5 – 6 Tahun,4.857.859,NaN,4.670.547,9.573.353
6,Anak Usia Kelas 1,NaN,NaN,NaN,NaN,NaN
7,NaN,7 Tahun,2.442.881,NaN,2.350.677,4.793.558
8,SD/Setingkat,NaN,NaN,NaN,NaN,NaN
9,Anak Usia SD/Setingkat,7 – 12 Tahun,14.567.981,NaN,13.927.519,28.495.500
10,Penduduk Usia Muda,< 15 Tahun,36.130.351,NaN,34.579.453,70.709.804
11,Penduduk Usia Produktif,15 – 64 Tahun,92.188.550,NaN,91.328.851,183.517.401
12,Penduduk Usia Non,NaN,NaN,NaN,NaN,NaN
13,NaN,≥ 65 Tahun,7.823.600,NaN,9.015.561,16.839.161
14,Produktif,NaN,NaN,NaN,NaN,NaN
15,Penduduk Usia Lanjut,≥ 60 Tahun,12.912.675,NaN,14.175.078,27.087.753
16,Penduduk Usia Lanjut Risiko,NaN,NaN,NaN,NaN,NaN
17,NaN,≥ 70 Tahun,4.295.664,NaN,5.413.455,9.709.119
18,Tinggi,NaN,NaN,NaN,NaN,NaN
19,Wanita Usia Subur (WUS),15 – 49 Tahun,-,NaN,71.570.465,71.570.465
20,NaN,NaN,NaN,NaN,52.779.457,52.779.457
21,Wanita Usia Subur Imunisasi,15 – 39 Tahun,-,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN
23,Ibu Hamil,"1,1 x lahir hidup",-,NaN,NaN,5.221.784
24,Ibu Bersalin/Nifas,"1,05 x lahir hidup",-,NaN,NaN,NaN

In [42]:
clean = df.iloc[:, [0,1,2,4,5]]
clean = clean.dropna(how='all')
clean.columns = np.arange(len(clean.columns))
# clean[1] = clean[1].str.replace('-', '', regex=False)
clean[2] = clean[2].str.replace('-', '0', regex=False).str.replace('.', '', regex=False).astype(np.double)
clean[3] = clean[3].str.replace('-', '0', regex=False).str.replace('.', '', regex=False).astype(np.double)
clean[4] = clean[4].str.replace('.', '', regex=False).astype(np.double)
clean

,0,1,2,3,4
0,Lahir Hidup,-,0.0,0.0,4747077.0
1,Bayi,0 Tahun,2381409.0,2280969.0,4662378.0
2,Batita (Bawah Tiga Tahun),0 – 2 Tahun,7161120.0,6866989.0,14028109.0
3,Anak Balita,1 – 4 Tahun,9598795.0,9214585.0,18813380.0
4,Balita (Bawah Lima Tahun),0 – 4 Tahun,11980204.0,11495554.0,23475758.0
5,Pra Sekolah,5 – 6 Tahun,4857859.0,4670547.0,9573353.0
6,Anak Usia Kelas 1,NaN,NaN,NaN,NaN
7,NaN,7 Tahun,2442881.0,2350677.0,4793558.0
8,SD/Setingkat,NaN,NaN,NaN,NaN
9,Anak Usia SD/Setingkat,7 – 12 Tahun,14567981.0,13927519.0,28495500.0
10,Penduduk Usia Muda,< 15 Tahun,36130351.0,34579453.0,70709804.0
11,Penduduk Usia Produktif,15 – 64 Tahun,92188550.0,91328851.0,183517401.0
12,Penduduk Usia Non,NaN,NaN,NaN,NaN
13,NaN,≥ 65 Tahun,7823600.0,9015561.0,16839161.0
14,Produktif,NaN,NaN,NaN,NaN
15,Penduduk Usia Lanjut,≥ 60 Tahun,12912675.0,14175078.0,27087753.0
16,Penduduk Usia Lanjut Risiko,NaN,NaN,NaN,NaN
17,NaN,≥ 70 Tahun,4295664.0,5413455.0,9709119.0
18,Tinggi,NaN,NaN,NaN,NaN
19,Wanita Usia Subur (WUS),15 – 49 Tahun,0.0,71570465.0,71570465.0
20,NaN,NaN,NaN,52779457.0,52779457.0
21,Wanita Usia Subur Imunisasi,15 – 39 Tahun,0.0,NaN,NaN
23,Ibu Hamil,"1,1 x lahir hidup",0.0,NaN,5221784.0
24,Ibu Bersalin/Nifas,"1,05 x lahir hidup",0.0,NaN,NaN

In [37]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 0 to 24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     object
 1   1       17 non-null     object
 2   2       17 non-null     float64
 3   3       15 non-null     float64
 4   4       16 non-null     float64
dtypes: float64(3), object(2)
memory usage: 1.1+ KB

In [38]:
my_list = []
last_row = []

for row in clean.itertuples(index=False):
    replaced = False

    if type(row[0]) == float and math.isnan(row[0]):
        for index, last_col in enumerate(last_row):
            if type(last_col) == float and math.isnan(last_col):
                last_row[index] = row[index]
                replaced = True
    else:
        columns = [row[0], row[1], row[2], row[3], row[4]]
        my_list.append(columns)
        last_row = columns

new_df = pd.DataFrame(my_list)
new_df

,0,1,2,3,4
0,Lahir Hidup,-,0.0,0.0,4747077.0
1,Bayi,0 Tahun,2381409.0,2280969.0,4662378.0
2,Batita (Bawah Tiga Tahun),0 – 2 Tahun,7161120.0,6866989.0,14028109.0
3,Anak Balita,1 – 4 Tahun,9598795.0,9214585.0,18813380.0
4,Balita (Bawah Lima Tahun),0 – 4 Tahun,11980204.0,11495554.0,23475758.0
5,Pra Sekolah,5 – 6 Tahun,4857859.0,4670547.0,9573353.0
6,Anak Usia Kelas 1,7 Tahun,2442881.0,2350677.0,4793558.0
7,SD/Setingkat,NaN,NaN,NaN,NaN
8,Anak Usia SD/Setingkat,7 – 12 Tahun,14567981.0,13927519.0,28495500.0
9,Penduduk Usia Muda,< 15 Tahun,36130351.0,34579453.0,70709804.0
10,Penduduk Usia Produktif,15 – 64 Tahun,92188550.0,91328851.0,183517401.0
11,Penduduk Usia Non,≥ 65 Tahun,7823600.0,9015561.0,16839161.0
12,Produktif,NaN,NaN,NaN,NaN
13,Penduduk Usia Lanjut,≥ 60 Tahun,12912675.0,14175078.0,27087753.0
14,Penduduk Usia Lanjut Risiko,≥ 70 Tahun,4295664.0,5413455.0,9709119.0
15,Tinggi,NaN,NaN,NaN,NaN
16,Wanita Usia Subur (WUS),15 – 49 Tahun,0.0,71570465.0,71570465.0
17,Wanita Usia Subur Imunisasi,15 – 39 Tahun,0.0,NaN,NaN
18,Ibu Hamil,"1,1 x lahir hidup",0.0,NaN,5221784.0
19,Ibu Bersalin/Nifas,"1,05 x lahir hidup",0.0,NaN,NaN

In [45]:
new_list = []

for row in my_list:
    isnan = (type(x) != float or math.isnan(x) for x in row[1:])
    if not all(isnan):
        new_list.append(row)
        last_row = row
    else:
        last_row[0] = last_row[0] + ' ' + row[0]

new_list
new_df = pd.DataFrame(new_list)
new_df.fillna(0, inplace=True)
new_df[2] = new_df[2].astype(np.int_)
new_df[3] = new_df[3].astype(np.int_)
new_df[4] = new_df[4].astype(np.int_)
new_df.columns = ['sasaran_program', 'kelompok_umur', 'jenis_kelamin.laki-laki', 'jenis_kelamin.perempuan', 'jumlah']
new_df

,sasaran_program,kelompok_umur,jenis_kelamin.laki-laki,jenis_kelamin.perempuan,jumlah
0,Lahir Hidup,-,0,0,4747077
1,Bayi,0 Tahun,2381409,2280969,4662378
2,Batita (Bawah Tiga Tahun),0 – 2 Tahun,7161120,6866989,14028109
3,Anak Balita,1 – 4 Tahun,9598795,9214585,18813380
4,Balita (Bawah Lima Tahun),0 – 4 Tahun,11980204,11495554,23475758
5,Pra Sekolah,5 – 6 Tahun,4857859,4670547,9573353
6,Anak Usia Kelas 1 SD/Setingkat SD/Setingkat SD...,7 Tahun,2442881,2350677,4793558
7,Anak Usia SD/Setingkat,7 – 12 Tahun,14567981,13927519,28495500
8,Penduduk Usia Muda,< 15 Tahun,36130351,34579453,70709804
9,Penduduk Usia Produktif,15 – 64 Tahun,92188550,91328851,183517401
10,Penduduk Usia Non Produktif Produktif Produkti...,≥ 65 Tahun,7823600,9015561,16839161
11,Penduduk Usia Lanjut,≥ 60 Tahun,12912675,14175078,27087753
12,Penduduk Usia Lanjut Risiko Tinggi Tinggi Ting...,≥ 70 Tahun,4295664,5413455,9709119
13,Wanita Usia Subur (WUS),15 – 49 Tahun,0,71570465,71570465
14,Wanita Usia Subur Imunisasi,15 – 39 Tahun,0,0,0
15,Ibu Hamil,"1,1 x lahir hidup",0,0,5221784
16,Ibu Bersalin/Nifas,"1,05 x lahir hidup",0,0,0