In [34]:
!pip install -q tabula-py

In [ ]:
import tabula
import pandas

In [35]:
#file = 'Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tabula.read_pdf(file, area = (430, 94, 746, 518), pages = '38')
data

[                     Unnamed: 0          Unnamed: 1   Laki-Laki  Unnamed: 2  \
 0                   Lahir Hidup                   -           -         NaN
 1                          Bayi             0 Tahun   2.381.409         NaN
 2     Batita (Bawah Tiga Tahun)         0 – 2 Tahun   7.161.120         NaN
 3                   Anak Balita         1 – 4 Tahun   9.598.795         NaN
 4     Balita (Bawah Lima Tahun)         0 – 4 Tahun  11.980.204         NaN
 5                   Pra Sekolah         5 – 6 Tahun   4.857.859         NaN
 6             Anak Usia Kelas 1                 NaN         NaN         NaN
 7                           NaN             7 Tahun   2.442.881         NaN
 8                  SD/Setingkat                 NaN         NaN         NaN
 9        Anak Usia SD/Setingkat        7 – 12 Tahun  14.567.981         NaN
 10           Penduduk Usia Muda          < 15 Tahun  36.130.351         NaN
 11      Penduduk Usia Produktif       15 – 64 Tahun  92.188.550         NaN
 12            Penduduk Usia Non                 NaN         NaN         NaN
 13                          NaN          ≥ 65 Tahun   7.823.600         NaN
 14                    Produktif                 NaN         NaN         NaN
 15         Penduduk Usia Lanjut          ≥ 60 Tahun  12.912.675         NaN
 16  Penduduk Usia Lanjut Risiko                 NaN         NaN         NaN
 17                          NaN          ≥ 70 Tahun   4.295.664         NaN
 18                       Tinggi                 NaN         NaN         NaN
 19      Wanita Usia Subur (WUS)       15 – 49 Tahun           -         NaN
 20                          NaN                 NaN         NaN         NaN
 21  Wanita Usia Subur Imunisasi       15 – 39 Tahun           -         NaN
 22                          NaN                 NaN         NaN         NaN
 23                    Ibu Hamil   1,1 x lahir hidup           -         NaN
 24           Ibu Bersalin/Nifas  1,05 x lahir hidup           -         NaN

      Perempuan   Unnamed: 3
 0            -    4.747.077
 1    2.280.969    4.662.378
 2    6.866.989   14.028.109
 3    9.214.585   18.813.380
 4   11.495.554   23.475.758
 5    4.670.547    9.573.353
 6          NaN          NaN
 7    2.350.677    4.793.558
 8          NaN          NaN
 9   13.927.519   28.495.500
 10  34.579.453   70.709.804
 11  91.328.851  183.517.401
 12         NaN          NaN
 13   9.015.561   16.839.161
 14         NaN          NaN
 15  14.175.078   27.087.753
 16         NaN          NaN
 17   5.413.455    9.709.119
 18         NaN          NaN
 19  71.570.465   71.570.465
 20  52.779.457   52.779.457
 21         NaN          NaN
 22         NaN          NaN
 23         NaN    5.221.784
 24         NaN          NaN  ]

In [21]:
df = data[0]
df

,0,1,2,3,4,5
0,NaN,NaN,Laki-Laki,NaN,Perempuan,NaN
1,Lahir Hidup,-,-,NaN,-,4.747.077
2,Bayi,0 Tahun,2.381.409,NaN,2.280.969,4.662.378
3,Batita (Bawah Tiga Tahun),0 – 2 Tahun,7.161.120,NaN,6.866.989,14.028.109
4,Anak Balita,1 – 4 Tahun,9.598.795,NaN,9.214.585,18.813.380
5,Balita (Bawah Lima Tahun),0 – 4 Tahun,11.980.204,NaN,11.495.554,23.475.758
6,Pra Sekolah,5 – 6 Tahun,4.857.859,NaN,4.670.547,9.573.353
7,Anak Usia Kelas 1,NaN,NaN,NaN,NaN,NaN
8,NaN,7 Tahun,2.442.881,NaN,2.350.677,4.793.558
9,SD/Setingkat,NaN,NaN,NaN,NaN,NaN
10,Anak Usia SD/Setingkat,7 – 12 Tahun,14.567.981,NaN,13.927.519,28.495.500
11,Penduduk Usia Muda,< 15 Tahun,36.130.351,NaN,34.579.453,70.709.804
12,Penduduk Usia Produktif,15 – 64 Tahun,92.188.550,NaN,91.328.851,183.517.401
13,Penduduk Usia Non,NaN,NaN,NaN,NaN,NaN
14,NaN,≥ 65 Tahun,7.823.600,NaN,9.015.561,16.839.161
15,Produktif,NaN,NaN,NaN,NaN,NaN
16,Penduduk Usia Lanjut,≥ 60 Tahun,12.912.675,NaN,14.175.078,27.087.753
17,Penduduk Usia Lanjut Risiko,NaN,NaN,NaN,NaN,NaN
18,NaN,≥ 70 Tahun,4.295.664,NaN,5.413.455,9.709.119
19,Tinggi,NaN,NaN,NaN,NaN,NaN
20,Wanita Usia Subur (WUS),15 – 49 Tahun,-,NaN,71.570.465,71.570.465
21,NaN,NaN,NaN,NaN,52.779.457,52.779.457
22,Wanita Usia Subur Imunisasi,15 – 39 Tahun,-,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN
24,Ibu Hamil,"1,1 x lahir hidup",-,NaN,NaN,5.221.784
25,Ibu Bersalin/Nifas,"1,05 x lahir hidup",-,NaN,NaN,NaN

In [29]:
clean = df[[0,1,2,4,5]].iloc[1:]
clean

,0,1,2,4,5
1,Lahir Hidup,-,-,-,4.747.077
2,Bayi,0 Tahun,2.381.409,2.280.969,4.662.378
3,Batita (Bawah Tiga Tahun),0 – 2 Tahun,7.161.120,6.866.989,14.028.109
4,Anak Balita,1 – 4 Tahun,9.598.795,9.214.585,18.813.380
5,Balita (Bawah Lima Tahun),0 – 4 Tahun,11.980.204,11.495.554,23.475.758
6,Pra Sekolah,5 – 6 Tahun,4.857.859,4.670.547,9.573.353
7,Anak Usia Kelas 1,NaN,NaN,NaN,NaN
8,NaN,7 Tahun,2.442.881,2.350.677,4.793.558
9,SD/Setingkat,NaN,NaN,NaN,NaN
10,Anak Usia SD/Setingkat,7 – 12 Tahun,14.567.981,13.927.519,28.495.500
11,Penduduk Usia Muda,< 15 Tahun,36.130.351,34.579.453,70.709.804
12,Penduduk Usia Produktif,15 – 64 Tahun,92.188.550,91.328.851,183.517.401
13,Penduduk Usia Non,NaN,NaN,NaN,NaN
14,NaN,≥ 65 Tahun,7.823.600,9.015.561,16.839.161
15,Produktif,NaN,NaN,NaN,NaN
16,Penduduk Usia Lanjut,≥ 60 Tahun,12.912.675,14.175.078,27.087.753
17,Penduduk Usia Lanjut Risiko,NaN,NaN,NaN,NaN
18,NaN,≥ 70 Tahun,4.295.664,5.413.455,9.709.119
19,Tinggi,NaN,NaN,NaN,NaN
20,Wanita Usia Subur (WUS),15 – 49 Tahun,-,71.570.465,71.570.465
21,NaN,NaN,NaN,52.779.457,52.779.457
22,Wanita Usia Subur Imunisasi,15 – 39 Tahun,-,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN
24,Ibu Hamil,"1,1 x lahir hidup",-,NaN,5.221.784
25,Ibu Bersalin/Nifas,"1,05 x lahir hidup",-,NaN,NaN